@{
    ViewBag.Title = "PaymentFailed";
    ViewBag.NavbarPartial = "_SideNavbar";
}
<html data-wf-page="644a966353cf9513fb76bb44" data-wf-site="640dfa53ba67521ab709aa29">
<div class="section dashboard">
    <h1 class="paymentsuccess gradient-text failed">Payment Failed</h1>
    <div class="text-block-30"><strong>There was an issue when processing your payment, your order has been saved. Please try again. </strong></div>
</div>
</html>