@{
    ViewBag.Title = "PaymentProcessing";
    ViewBag.NavbarPartial = "_SideNavbar";
}
<html data-wf-page="644a975053cf953f4676c4c5" data-wf-site="640dfa53ba67521ab709aa29">
<div class="section dashboard">
    <h1 class="paymentsuccess gradient-text">Payment Processing</h1>
    <div class="text-block-30"><strong>Your order is confirmed! Once payment has been processed, you will receieve an email confirmation with your receipt. </strong></div>
</div>
</html>