@{
    ViewBag.Title = "PaymentSucceeded";
    ViewBag.NavbarPartial = "_SideNavbar";
}
<html data-wf-page="6449c5eb4f0bdaf7e97886bd" data-wf-site="640dfa53ba67521ab709aa29">
<div class="section dashboard">
    <h1 class="paymentsuccess gradient-text">Payment Success!</h1>
    <div class="text-block-30"><strong>Congratulations!</strong> Your order has been confirmed! <br><br>A payment receipt has been sent to your email. Your label will be available momentarily. <br>‍<br>You can view and download your labels in the <strong>Orders </strong>tab!</div>
</div>
</html>