<html data-wf-page="640dfa54ba6752648b09aa52" data-wf-site="640dfa53ba67521ab709aa29">
<body data-title="Dashboard">
    <div class="section">
        <div class="container">

            <div class="top-margin-l">
                <div data-current="ShipTab" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs feature-page w-tabs">
                    <div data-w-id="61596944-0431-2487-9999-4ca1166fb8d7" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="tabs-menu feature-page w-tab-menu">
                        <a id="shipTabLink" data-w-tab="ShipTab" class="shiptablink w-inline-block w-tab-link w--current">
                            <div class="gradient-wrapp">
                                <div class="tab-heading">Ship</div>
                                <div class="tab-open-content">
                                    <p class="tab-paragraph">Create a shipping label!</p>
                                </div>
                            </div>
                        </a>
                        <a data-w-tab="OrdersTab" class="shiptablink w-inline-block w-tab-link">
                            <div class="gradient-wrapp">
                                <div class="tab-heading">Orders</div>
                                <div class="tab-open-content">
                                    <p class="tab-paragraph">View completed and unfinished orders</p>
                                </div>
                            </div>
                        </a>
                        <a data-w-tab="MonitorTab" class="shiptablink w-inline-block w-tab-link">
                            <div class="gradient-wrapp">
                                <div class="tab-heading">Monitor</div>
                                <div class="tab-open-content">
                                    <p class="tab-paragraph">Monitor and Track your orders</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div data-w-id="61596944-0431-2487-9999-4ca1166fb8e1" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="feature-tabs-content w-tab-content">
                        <div data-w-tab="ShipTab" class="tab-pane-shiptab w-tab-pane w--tab-active">
                            <div class="active-tab-container _01">
                                <div class="createlabelholder">
                                    <div class="createlabelformblock w-form">
                                        <form data-bind="submit: sendRequest" id="createLabelForm" autocomplete="off" name="wf-form-ship" id="ship" method="post">
                                            <div data-bind="with: requestForm">
                                            <label for="EmailTo" class="field-label">Ship To</label>
                                            <div class="w-row">
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="Email" placeholder="Email (optional)" id="ToEmail" data-bind="value: ToEmail"></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="PhoneTo" placeholder="Phone (optional)" id="ToPhone" data-bind="value: ToPhone"></div>
                                            </div>
                                            <div class="w-row">
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" placeholder="Name" id="ToName" required="" data-bind="value: ToName"></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="ToCompany" id="ToCompany" placeholder="Company (optional)" data-bind="value: ToCompany"></div>
                                            </div>
                                            <div class="w-row">
                                                    <div class="w-col w-col-6"><div class="autocomplete-container" id="autocomplete-container"></div></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="ToAddress2" id="ToAddress2" placeholder="Apt / Unit / Suite / etc. (optional)" data-bind="value: ToAddress2"></div>
                                            </div>
                                            <div class="wf-section">
                                                <div class="w-row">
                                                        <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="ToCity" placeholder="City" id="ToCity" required="" data-bind="value: ToCity"></div>
                                                        <div class="w-col w-col-4">
                                                            <select id="ToState" name="State-2" class="select-field4 w-select" data-bind="value: ToState">
                                                                <option value="">State</option>
                                                                <option value="AL">Alabama</option>
                                                                <option value="AK">Alaska</option>
                                                                <option value="AZ">Arizona</option>
                                                                <option value="AR">Arkansas</option>
                                                                <option value="CA">California</option>
                                                                <option value="CO">Colorado</option>
                                                                <option value="CT">Connecticut</option>
                                                                <option value="DE">Delaware</option>
                                                                <option value="FL">Florida</option>
                                                                <option value="GA">Georgia</option>
                                                                <option value="HI">Hawaii</option>
                                                                <option value="ID">Idaho</option>
                                                                <option value="IL">Illinois</option>
                                                                <option value="IN">Indiana</option>
                                                                <option value="IA">Iowa</option>
                                                                <option value="KS">Kansas</option>
                                                                <option value="KY">Kentucky</option>
                                                                <option value="LA">Louisiana</option>
                                                                <option value="ME">Maine</option>
                                                                <option value="MD">Maryland</option>
                                                                <option value="MA">Massachusetts</option>
                                                                <option value="MI">Michigan</option>
                                                                <option value="MN">Minnesota</option>
                                                                <option value="MS">Mississippi</option>
                                                                <option value="MO">Missouri</option>
                                                                <option value="MT">Montana</option>
                                                                <option value="NE">Nebraska</option>
                                                                <option value="NV">Nevada</option>
                                                                <option value="NH">New Hampshire</option>
                                                                <option value="NJ">New Jersey</option>
                                                                <option value="NM">New Mexico</option>
                                                                <option value="NY">New York</option>
                                                                <option value="NC">North Carolina</option>
                                                                <option value="ND">North Dakota</option>
                                                                <option value="OH">Ohio</option>
                                                                <option value="OK">Oklahoma</option>
                                                                <option value="OR">Oregon</option>
                                                                <option value="PA">Pennsylvania</option>
                                                                <option value="RI">Rhode Island</option>
                                                                <option value="SC">South Carolina</option>
                                                                <option value="SD">South Dakota</option>
                                                                <option value="TN">Tennessee</option>
                                                                <option value="TX">Texas</option>
                                                                <option value="UT">Utah</option>
                                                                <option value="VT">Vermont</option>
                                                                <option value="VA">Virginia</option>
                                                                <option value="WA">Washington</option>
                                                                <option value="WV">West Virginia</option>
                                                                <option value="WI">Wisconsin</option>
                                                                <option value="WY">Wyoming</option>
                                                            </select>
                                                        </div>
                                                        <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="ToZip" placeholder="Zipcode" id="ToZip" required="" data-bind="value: ToZip"></div>
                                                </div>
                                            </div><label for="EmailTo-2" class="field-label">Ship From</label>
                                            <div class="w-row">
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="FromName" id="FromName" placeholder="Name (optional)"  data-bind="value: FromName"></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="FromCompany" id="FromCompany" placeholder="Company (optional)" data-bind="value: FromCompany"></div>
                                            </div>
                                            <div class="w-row">
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="FromAddress1" id="FromAddress1" placeholder="Address" required="" data-bind="value: FromAddress1"></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="FromAddress2" id="FromAddress2" placeholder="Apt / Unit / Suite / etc. (optional)" data-bind="value: FromAddress2"></div>
                                            </div>
                                            <div class="w-row">
                                                <div class="w-col w-col-6">
                                                    <div class="w-row">
                                                            <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="FromCity" id="FromCity" placeholder="City" required="" data-bind="value: FromCity"></div>
                                                        <div class="w-col w-col-4">
                                                                <select id="FromState" class="select-field4 w-select" data-bind="value: FromState">
                                                                    <option value="">State</option>
                                                                    <option value="AL">Alabama</option>
                                                                    <option value="AK">Alaska</option>
                                                                    <option value="AZ">Arizona</option>
                                                                    <option value="AR">Arkansas</option>
                                                                    <option value="CA">California</option>
                                                                    <option value="CO">Colorado</option>
                                                                    <option value="CT">Connecticut</option>
                                                                    <option value="DE">Delaware</option>
                                                                    <option value="FL">Florida</option>
                                                                    <option value="GA">Georgia</option>
                                                                    <option value="HI">Hawaii</option>
                                                                    <option value="ID">Idaho</option>
                                                                    <option value="IL">Illinois</option>
                                                                    <option value="IN">Indiana</option>
                                                                    <option value="IA">Iowa</option>
                                                                    <option value="KS">Kansas</option>
                                                                    <option value="KY">Kentucky</option>
                                                                    <option value="LA">Louisiana</option>
                                                                    <option value="ME">Maine</option>
                                                                    <option value="MD">Maryland</option>
                                                                    <option value="MA">Massachusetts</option>
                                                                    <option value="MI">Michigan</option>
                                                                    <option value="MN">Minnesota</option>
                                                                    <option value="MS">Mississippi</option>
                                                                    <option value="MO">Missouri</option>
                                                                    <option value="MT">Montana</option>
                                                                    <option value="NE">Nebraska</option>
                                                                    <option value="NV">Nevada</option>
                                                                    <option value="NH">New Hampshire</option>
                                                                    <option value="NJ">New Jersey</option>
                                                                    <option value="NM">New Mexico</option>
                                                                    <option value="NY">New York</option>
                                                                    <option value="NC">North Carolina</option>
                                                                    <option value="ND">North Dakota</option>
                                                                    <option value="OH">Ohio</option>
                                                                    <option value="OK">Oklahoma</option>
                                                                    <option value="OR">Oregon</option>
                                                                    <option value="PA">Pennsylvania</option>
                                                                    <option value="RI">Rhode Island</option>
                                                                    <option value="SC">South Carolina</option>
                                                                    <option value="SD">South Dakota</option>
                                                                    <option value="TN">Tennessee</option>
                                                                    <option value="TX">Texas</option>
                                                                    <option value="UT">Utah</option>
                                                                    <option value="VT">Vermont</option>
                                                                    <option value="VA">Virginia</option>
                                                                    <option value="WA">Washington</option>
                                                                    <option value="WV">West Virginia</option>
                                                                    <option value="WI">Wisconsin</option>
                                                                    <option value="WY">Wyoming</option>
                                                            </select>
                                                        </div>
                                                            <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="FromZip" placeholder="Zipcode" id="FromZip" required="" data-bind="value: FromZip"></div>
                                                    </div>
                                                </div>
     
                                                <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" name="FromPhone" placeholder="Phone" id="FromPhone" required="" data-bind="value: FromPhone"></div>
                                                </div><label class="w-checkbox checkbox-field"><input type="checkbox" id="IsReturnAddress" name="checkbox-2" class="w-checkbox-input checkbox-2" data-bind="value: IsReturnAddress"><span class="checkbox-label-2 w-form-label" for="checkbox-2">Use this address as the Return Address on my shipping labels</span></label>
                                            <div class="columns-5 w-row">
                                                <div class="w-col w-col-6">
                                                    <label for="ZipFrom" class="field-label-4">Dimensions (Inches)</label>
                                                    <div class="w-row">
                                                            <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="length-2" id="Length" placeholder="Length" required="" data-bind="textInput: Length, event: { input: $parent.checkValues }"></div>
                                                            <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="width-2" id="Width" placeholder="Width" required="" data-bind="textInput: Width, event: { input: $parent.checkValues }"></div>
                                                            <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="height-2" id="Height" placeholder="Height" required="" data-bind="textInput: Height, event: { input: $parent.checkValues }"></div>
                                                            <p data-bind="text: zeroValueMessage"></p>
                                                            <p data-bind="visible: $parent.isOverLimit">The sum of Length plus (Width x 2) + (Height x 2) is over 165".</p>
                                                        </div>
                                                </div>
                                                <div class="w-col w-col-6">
                                                    <label for="toZip-3" class="field-label-5">Weight</label>
                                                    <div class="w-row">
                                                            <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" id="Pounds" placeholder="Pounds" required="" data-bind="textInput: Pounds, event:{ input: isOverweight }"></div>
                                                            <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" id="Ounces" placeholder="Ounces" data-bind="textInput: Ounces, event:{ input: isOverweight }"></div>
                                                    <div id="weightError"></div>
                                                        </div>
                                                </div>
                                            </div>
                                                <div class="send-button-wrapper fullrates">
                                                    <div class="send-button-holder2 fullrates">
                                                        <div class="fake-submit-button-holder static fullrates">
                                                            <input type="submit" value="Get Rates" data-wait="..." data-w-id="4d401ab9-4610-ac82-f8de-353ee99af7ec" class="submit-button3 submit-button-with-text3 fullrates w-button">
                                                            <div class="button-gradient fullrates"></div>
                                                            <div class="white-background-button-color fullrates"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                           
                                            </div>
                                        </form>
                                    </div>
                                    <div class="container _4em fade-in-move-on-scroll" id="dropdownrates" style="display:none ">
                                        <div class="w-form">
                                            

                                                <div data-delay="0" data-hover="false" class="dropdown w-dropdown">
                                                    <div class="dropdown-toggle w-dropdown-toggle" data-bind="foreach: selectedrate" >
                                                        <div class="quick-access-card-holder-2 less-padding fade-in-move-on-scroll">
                                                            <div class="quick-access-card spacing">
                                                                <div class="columns w-row">
                                                                    <div class="column-3 w-col w-col-1"><img id="companyImg" loading="lazy" src="~/images/UPS.svg" alt="" class="image w-node-_4765bb29-3e61-7b7e-9d57-fbc62a67c860-8b09aa52"></div>
                                                                    <div class="column-4 w-col w-col-11">
                                                                        <div id="serviceType" class="text-block" data-bind="text: service"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="columns-2 w-row">
                                                                    <div class="column-5 w-col w-col-2" data-bind="visible: isCheapest">
                                                                        <div id="isCheapest" class="text-block-3">CHEAPEST</div>
                                                                    </div>
                                                                    <div class="column-6 w-col w-col-10">
                                                                        <div id="rateSlogan" class="text-block-4">Instant Access, Deep Discounts</div>
                                                                    </div>
                                                                </div>
                                                                <div class="container-3 w-container">
                                                                    <div id="estimatedDelivery" class="text-block-5" data-bind="text: estimatedDelivery"></div>
                                                                </div>
                                                                <div id="hasInsurance" class="text-block-6">Free Tracking • $100 insurance included</div>
                                                                <div class="columns-3 w-row">
                                                                    <div class="column-10 w-col w-col-6">
                                                                        <div id="percentSaved" class="text-block-7">Save 50%</div>
                                                                        <div id="retailPrice" class="text-block-9" data-bind="text: upsPrice"></div>
                                                                    </div>
                                                                    <div class="column-7 w-col w-col-6">
                                                                        <div id="ourPrice" class="text-block-10" data-bind="text: ourPriceString"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="grey-border"></div>
                                                        </div>
                                                        <div class="icon w-icon-dropdown-toggle"></div>
                                                    </div>
                                                    <nav class="dropdown-list w-dropdown-list">
                                                        <div id="w-node-_73eaaeb9-144f-4fb7-7acf-6bc24663bc95-8b09aa52" class="quick-access-card-holder-2 less-padding fade-in-move-on-scroll" data-bind="foreach: rates">
                                                            <div class="quick-access-card spacing" data-bind="click: $parent.selectRate">
                                                                <div class="columns w-row">
                                                                    <div class="column-3 w-col w-col-1"><img id="companyImg" loading="lazy" src="~/images/UPS.svg" alt="" class="image w-node-c4dfec01-b4da-c24d-32ae-4c694121b30b-8b09aa52"></div>
                                                                    <div class="column-4 w-col w-col-11">
                                                                        <div id="serviceType" class="text-block" data-bind="text: service"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="columns-2 w-row">
                                                                    <div class="column-5 w-col w-col-2" data-bind="visible: isCheapest">
                                                                        <div id="isCheapest" class="text-block-3">CHEAPEST</div>
                                                                    </div>
                                                                    <div class="column-6 w-col w-col-10">
                                                                        <div id="rateSlogan" class="text-block-4">Instant Access, Deep Discounts</div>
                                                                    </div>
                                                                </div>
                                                                <div id="estimatedDelivery" class="text-block-5" data-bind="text: estimatedDelivery"></div>
                                                                <div id="hasInsurance" class="text-block-6">Free Tracking • $100 insurance included</div>
                                                                <div class="columns-3 w-row">
                                                                    <div class="column-10 w-col w-col-6">
                                                                        <div id="percentSaved" class="text-block-7">Save 50%</div>
                                                                        <div id="retailPrice" class="text-block-9" data-bind="text: upsPrice"></div>
                                                                    </div>
                                                                    <div class="column-7 w-col w-col-6">
                                                                        <div id="ourPrice" class="text-block-10" data-bind="text: ourPriceString"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="grey-border"></div>
                                                        </div>
                                                    </nav>
                                                </div>
                                            @Html.ValidationSummary()
                                            <form id="labelForm" data-url="@Url.Action("CreateLabelAsync", "Home")" method="post">
                                                <div data-w-id="58977fe0-e9e6-8ca6-2c24-1c3a05348316" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="confirmpurchase">
                                                  <div data-bind="with: labelRequest">  
                                                <div>
                                                        <h6 class="heading">Confirm Purchase</h6>
                                                    </div>
                                                    <div class="block-content">
                                                        <div class="columns-10 w-row">
                                                            <div class="w-col w-col-6">
                                                                <div class="text-block-15">Ship Date</div>
                                                            </div>
                                                            <div class="w-col w-col-6">
                                                                <div class="text-block-14" data-bind="text: currentDate"></div>
                                                            </div>
                                                        </div>
                                                        <div class="columns-3 w-row">
                                                            <div class="column-10 w-col w-col-6">
                                                                <div class="text-block-16">Current Account Balance</div>
                                                            </div>
                                                            <div class="column-7 w-col w-col-6">
                                                                <div class="text-block-14" id="accountBalance" data-bind="text: beginningBalance"></div>
                                                            </div>
                                                        </div>
                                                        <div class="columns-12 w-row">
                                                            <div class="w-col w-col-6">
                                                                <div class="text-block-17">Total Cost</div>
                                                            </div>
                                                            <div class="w-col w-col-6">
                                                                <div class="text-block-14" data-bind="text: totalCost"></div>
                                                            </div>
                                                        </div>
                                                        <div class="columns-13 w-row">
                                                            <div class="w-col w-col-8">
                                                                <div class="text-block-18">Total Charge</div>
                                                            </div>
                                                                <div class="w-col w-col-4"><input type="text" class="input-field custom w-input" maxlength="256" name="TotalCharge" data-bind="textInput: totalCharge, event:{input: calculateBalance}" data-name="TotalCharge" id="TotalCharge" required=""></div>
                                                        </div>
                                                        <div class="columns-3 w-row" id="endingBalanceColumn"> 
                                                            <div class="column-10 w-col w-col-6">
                                                                <div class="text-block-19">Ending Account Balance</div>
                                                            </div>
                                                            <div class="column-7 w-col w-col-6">
                                                                <div class="text-block-14" id="RemainingBalance" data-bind="text: endingBalance"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        </div>
                                                    <div class="section-4 wf-section">
                                                        <div class="send-button-holder2 buylabel">
                                                            <div class="fake-submit-button-holder static buylabel">
                                                                <input type="submit" value="Purchase" data-wait="..." class="submit-button3 submit-button-with-text3 buylabel w-button">
                                                                <div class="button-gradient buylabel"></div>
                                                                <div class="white-background-button-color buylabel"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </form>
                                            <div class="w-form-done">
                                                <div>Thank you! Your submission has been received!</div>
                                            </div>
                                            <div class="w-form-fail">
                                                <div>Oops! Something went wrong while submitting the form.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_780cfaaa-0018-414e-0cbc-0872f2e29c74-8b09aa52" class="quick-access-card-holder-2 less-padding fade-in-move-on-scroll"></div>
                                </div>
                            </div>
                        </div>
                      <div data-w-tab="OrdersTab" class="w-tab-pane w--tab-active">
                            <div class="active-tab-container _01">
                                <div class="feature-image-holder" >
                                    <div data-bind="foreach: labels">
                                    <div data-w-id="684ad59d-14d9-4af0-2777-1c9a2ca608b2" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="labellinkcard">
                                        <div class="columns-16 w-row">
                                            <div class="w-col w-col-3">
                                                <div class="text-block-20" data-bind="text: labelName"></div>
                                                <div class="text-block-21" data-bind="text: dateCreated"></div>
                                            </div>
                                            <div class="w-col w-col-3">
                                                <div class="text-block-22">Complete</div>
                                            </div>
                                            <div class="column-14 w-col w-col-6">
                                                <a id="w-node-_7c4aab42-9610-faa6-475a-96b7df2c9670-8b09aa52" class="link" data-bind="attr: { href: '/Home/ViewLabel?orderID=' + id, target: '_blank' }">View</a>
                                                <div id="w-node-_298b270f-d9fb-f36c-4455-7c55f7ba2e18-8b09aa52" class="line-gradient"></div>
                                                <a id="w-node-_8ed8ffe9-49c0-bb73-4274-4975f5a03ef9-8b09aa52" class="link-2" data-bind="attr: { href: '/Home/DownloadLabel?orderID=' + id, download: 'ShippingLabel.pdf' }">Download</a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                    <div class="w-layout-grid grid-6-col">
                                        <div id="w-node-d1c68da0-aa8e-a255-8df0-483a8170b9e6-8b09aa52" class="content">
                                            <div class="fade-in-move-on-scroll">
                                                <h2 class="heading-2">Create your first label!</h2>
                                            </div>
                                            <div class="fade-in-move-on-scroll">
                                                <p class="paragraph-5">Navigate over to the <strong>Ship </strong>tab and begin creating your first label! Once you purchase a label, you can view and download your labels in the <strong>Orders </strong>tab anytime!</p>
                                            </div>
                                            <div class="list-container">
                                                <ul role="list" class="list-with-icons w-list-unstyled">
                                                    <li class="list-item-with-icon">
                                                        <div>All in one platform.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>Fully secured.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>No hidden fees.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>Ship with ease.</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="w-node-d1c68da0-aa8e-a255-8df0-483a8170ba01-8b09aa52" class="image-container"><img src="~/images/Feature-Image-01.svg" loading="lazy" alt="" class="feature-image"></div>
                                    </div>

                                </div>

                               


                            </div>
                        </div>
                        <div data-w-tab="MonitorTab" class="w-tab-pane">
                            <div class="active-tab-container _01">
                                <div class="feature-image-holder">


                                    <div class="w-layout-grid grid-6-col">
                                        <div id="w-node-d1c68da0-aa8e-a255-8df0-483a8170b9e6-8b09aa52" class="content">
                                            <div class="fade-in-move-on-scroll">
                                                <h2 class="heading-2">Create your first label!</h2>
                                            </div>
                                            <div class="fade-in-move-on-scroll">
                                                <p class="paragraph-5">Navigate over to the <strong>Ship </strong>tab and begin creating your first label! Once you purchase a label, you can view and download your labels in the <strong>Orders </strong>tab anytime!</p>
                                            </div>
                                            <div class="list-container">
                                                <ul role="list" class="list-with-icons w-list-unstyled">
                                                    <li class="list-item-with-icon">
                                                        <div>All in one platform.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>Fully secured.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>No hidden fees.</div>
                                                    </li>
                                                    <li class="list-item-with-icon">
                                                        <div>Ship with ease.</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="w-node-d1c68da0-aa8e-a255-8df0-483a8170ba01-8b09aa52" class="image-container"><img src="~/images/Feature-Image-01.svg" loading="lazy" alt="" class="feature-image"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="w-node-ad906a0c-4b3f-568f-a577-873defc408ea-8b09aa52" class="top-margin-xl">
                    <div data-w-id="5f970086-9767-ed41-94b3-43a0995ec9d9" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid grid-3-col">
                        <div id="w-node-f51ccc6b-9c24-03c7-34a7-54c529b49348-8b09aa52" class="feature-icon-holder">
                            <img src="~/images/Pen-Gradient-Image.svg" loading="lazy" alt="" class="feature-icon">
                            <div class="heading-and-paragraph-holder">
                                <div class="text-card">Create</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam</p>
                            </div>
                        </div>
                        <div id="w-node-_767df96e-4447-9639-f33d-9f812256c3ca-8b09aa52" class="feature-icon-holder">
                            <img src="~/images/Drawing-Gradient-Image.svg" loading="lazy" alt="" class="feature-icon">
                            <div class="heading-and-paragraph-holder">
                                <div class="text-card">Costumise</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam</p>
                            </div>
                        </div>
                        <div id="w-node-_367a892b-d5fb-ee60-589e-812040330bf6-8b09aa52" class="feature-icon-holder">
                            <img src="~/images/Dollar-Gradient-Image.svg" loading="lazy" alt="" class="feature-icon">
                            <div class="heading-and-paragraph-holder">
                                <div class="text-card">Say on top</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
</body>
</html>