@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<html data-wf-page="64c7fbbef3915ca2f00a390e" data-wf-site="640dfa53ba67521ab709aa29">
<body data-title="Register">
    <div class="section">
        <div class="container">
            <div class="top-margin-xl">
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                    <h1 data-w-id="0fdd33f8-2382-2f01-89f7-ab67d6545a7c" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-normal-weight gradient-text">BEGIN SHIPPING IN SECONDS!</h1>
                </div>
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-2st">
                    <p data-w-id="75f362d9-fa04-f72d-0375-be9cd6b35291" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="paragraph-4">100% FREE | NO FEES OR HIDDEN COSTS</p>
                </div>
            <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-3rd">
                <div id="registerSubmit" class="login w-form">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" name="wf-form-registerForm" autocomplete="off" method="post" class="loginform custom">
                            <label for="name-2" class="field-label-3">Create your free account!</label>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="Input.FullName" class="text-field w-input" maxlength="256" name="FullName" data-name="Email" placeholder="Full Name" id="FullName" aria-required="true"><span asp-validation-for="Input.FullName" class="text-danger"></span>
                            <input asp-for="Input.Email" class="text-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email" aria-required="true"><span asp-validation-for="Input.Email" class="text-danger"></span>
                            <input asp-for="Input.PhoneNumber" class="text-field w-input" maxlength="10" name="PhoneNumber" data-name="PhoneNumber" placeholder="PhoneNumber" id="PhoneNumber" aria-required="true"><span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            <input asp-for="Input.Password" class="text-field-2 w-input" maxlength="256" name="Password" data-name="Password" placeholder="Password" id="Password" aria-required="true" /><span asp-validation-for="Input.Password" class="text-danger"></span>
                           
                          
                            <div class="section-3 wf-section">
                                <div class="send-button-holder2 register">
                                    <div class="fake-submit-button-holder static register">
                                        <input type="submit" id="registerBtn" value="Create Account" data-wait="..." class="submit-button3 submit-button-with-text3 register w-button">
                                        <div class="button-gradient register"></div>
                                        <div class="white-background-button-color register"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                      
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
