@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div data-animation="default" class="dashboardnavbar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" style="opacity:0" role="banner" data-no-scroll="1" data-duration="700" id="NavBarComponent" data-doc-height="1">
    <div class="container nav-container main">
        <div class="nav-menu-container">
            <a href="@Url.ActionLink("Index","Home")" aria-current="page" class="brand-link nav w-nav-brand w--current">
                <img src="~/images/Icon.png" loading="lazy" height="" sizes="(max-width: 479px) 100vw, (max-width: 991px) 24.462499618530273px, (max-width: 1439px) 2vw, 24.462499618530273px" srcset="~/images/Icon-p-500.png 500w, ~/images/Icon.png 690w" alt="" class="brand">
                <div class="text-block-12 gradient-text nav">Thunder</div>
            </a>
            <nav role="navigation" class="nav-menu w-nav-menu">
                <div class="nav-link-container">
                    <partial name="_LoginPartial" />
                </div>
               
            </nav>
            <div class="menu-button-holder">
                <div class="menu-button w-nav-button">
                    <div class="center-box"><img src="~/images/menu.svg" loading="lazy" alt="" class="menu-button-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>