<html data-wf-page="640dfa54ba6752483409aa2d" data-wf-site="640dfa53ba67521ab709aa29">

<body data-title="Index">
    <div class="section hero-home-section">
        <div class="container hero-home-container">
            <div data-w-id="4f479342-3728-e100-52ed-a2f9fa5f5007" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="home-hero-bg"></div>
            <div class="hero-text-holder">
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                    <h1 class="hero-text-home gradient-text">Save <span><strong class="bold-text-3">up to 90%</strong> </span>off UPS rates with our discounted shipping service</h1>
                </div>
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-2st">
                    <div class="w-layout-grid grid-8-col">
                        <div id="w-node-eaa4d78d-cf9f-49d7-87c2-ae81121dc2cc-3409aa2d" class="hero-paragraph">
                            <p class="paragraph-3">Quickly compare shipping options to get the cheapest rates!</p>
                        </div>
                    </div>
                </div>
                <div class="home-hero-buttons-holder animate-on-load-3rd">
                    <a href="@Url.ActionLink("Ship","Dashboard")" class="gradient-link w-inline-block">
                        <div class="button-gradient"></div>
                        <div class="loginbutton">
                            <div class="link-gradient-text">Dashboard</div>
                        </div>
                        <div class="white-background-button-color"></div>
                    </a>
                </div> <div class="home-hero-buttons-holder animate-on-load-3rd">
                    <a href="@Url.ActionLink("Rates","Home")" class="gradient-link w-inline-block">
                        <div class="button-gradient"></div>
                        <div class="loginbutton">
                            <div class="link-gradient-text">Rates</div>
                        </div>
                        <div class="white-background-button-color"></div>
                    </a>
                </div>
            </div>
            <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-4rd">
                <div class="container">
                    <div class="app-holder">
                        <div class="app-container">
                            <div class="app-main-photo"><img src="~/images/App-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 76vw, (max-width: 991px) 68vw, (max-width: 1439px) 72vw, 79vw" srcset="~/images/App-Image-p-500.jpeg 500w, images/App-Image-p-800.jpeg 800w, images/App-Image-p-1080.jpeg 1080w, images/App-Image-p-1600.jpeg 1600w, images/App-Image-p-2000.jpeg 2000w, images/App-Image-p-2600.jpeg 2600w, images/App-Image.jpg 3844w" alt="" class="app-photo"></div>
                            <div class="app-info-01"><img src="~/images/Earnings-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 150px, (max-width: 991px) 25vw, 250.00001525878906px" srcset="~/images/Earnings-Image-p-500.jpeg 500w, images/Earnings-Image-p-800.jpeg 800w, images/Earnings-Image.jpg 952w" alt="" class="_100width"></div>
                            <div class="app-info-02"><img src="~/images/Visitor-Insights.jpg" loading="lazy" sizes="(max-width: 767px) 180.00001525878906px, (max-width: 991px) 51vw, 505.9895935058594px" srcset="~/images/Visitor-Insights-p-500.jpeg 500w, images/Visitor-Insights-p-800.jpeg 800w, images/Visitor-Insights-p-1080.jpeg 1080w, images/Visitor-Insights.jpg 2024w" alt="" class="_100width"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo-grid-holder">
                <div class="w-layout-grid logo-grid">
                    <div id="w-node-ddf35f60-4046-a5dc-8dfc-7a16218a2043-3409aa2d" class="logo-small-container"><img src="~/images/Logo01.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-ed6e05a7-8859-5c2e-bfa6-5a34d46c5535-3409aa2d" class="logo-small-container"><img src="~/images/Logo02.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_38e6cc19-86ef-7eaa-1ab1-b4758b264793-3409aa2d" class="logo-small-container"><img src="~/images/Logo03.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_2c5230ad-7a3e-1078-2648-792bc8a3d83f-3409aa2d" class="logo-small-container"><img src="~/images/Logo04.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_4ffe437a-249e-b0bf-4319-d5ced5949c15-3409aa2d" class="logo-small-container"><img src="~/images/Logo05.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-a11f21d4-8fb0-6c15-87e3-d6c169a6536f-3409aa2d" class="logo-small-container"><img src="~/images/Logo06.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_209d1c9a-5c8e-b2b8-a90f-cc9d58a26396-3409aa2d" class="logo-small-container"><img src="~/images/Logo07.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_6c110cba-70eb-d829-f5bf-8ff72d91f759-3409aa2d" class="logo-small-container"><img src="~/images/Logo08.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-_0d8e1bb2-4dcf-58bc-ddb2-2969473a2235-3409aa2d" class="logo-small-container"><img src="~/images/Logo09.svg" loading="lazy" alt="" class="small-logo"></div>
                    <div id="w-node-afed102e-1e94-d6d2-0ddb-965b06c57825-3409aa2d" class="logo-small-container"><img src="~/images/Logo10.svg" loading="lazy" alt="" class="small-logo"></div>
                </div>
                <div class="fade-in-move-on-scroll">
                    <p>Trusted by Top-tier product campanies</p>
                </div>
            </div>
        </div>
    </div>
    <div id="More" class="section">
        <div class="container _4em">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2 class="center-heading">We can help you manage from top to bottom, all the layers.</h2>
                </div>
                <div class="hero-paragraph">
                    <div class="fade-in-move-on-scroll">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                    </div>
                </div>
            </div>
            <div class="features-container">
                <div class="w-layout-grid grid-6-col">
                    <div id="w-node-_3e5d2762-47b3-db8b-cc0c-4a656fea09c8-3409aa2d" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Top Management, to help you see the bigger picture</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa massa id arcu blandit dignissim contum volutpat dolor fermentum, justo tempor.<br><br>Vulputate enim ante egestas commodo in.</p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>All in one platform.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully secured.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Great user experience.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>All Responsive.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="w-node-_003d7288-52d9-6c3b-64c7-0783fd2a1b36-3409aa2d" class="image-container"><img src="~/images/Feature-Image-01.svg" loading="lazy" alt="" class="feature-image"></div>
                </div>
                <div class="w-layout-grid grid-6-col">
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7274-3409aa2d" class="image-container"><img src="~/images/Feature-Image-02.svg" loading="lazy" alt="" class="feature-image"></div>
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7256-3409aa2d" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Micromanage every data so there are no slip-ups</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa massa id arcu blandit dignissim contum volutpat dolor fermentum, justo tempor.<br><br>Vulputate enim ante egestas commodo in.</p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>All in one platform.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully secured.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Great user experience.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>All Responsive.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Features" class="section grey-section">
        <div class="container _6em-bottom">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2>All in one platform, from mobile to desktop everything you need is here</h2>
                </div>
                <div class="hero-paragraph">
                    <div class="fade-in-move-on-scroll">
                        <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                    </div>
                </div>
            </div>
            <div class="sticky-slider-section">
                <div class="w-layout-grid sticky-slider-container">
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc48-3409aa2d" class="sticky-text-container">
                        <div class="sticky-text-holder">
                            <div class="fade-in-move-on-scroll">
                                <h2>Handcrafted  to Manage all your data</h2>
                            </div>
                            <div class="fade-in-move-on-scroll">
                                <p>Get the data directly on your phone, scroll and swipe away to get informed and updated</p>
                            </div>
                            <div class="list-container">
                                <ul role="list" class="list-with-icons list-one-column w-list-unstyled">
                                    <li class="list-item-with-icon">
                                        <div>Easy to use and understand</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Accessible from anywhere</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Auto sync between devices with the latest data</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc66-3409aa2d" class="slider-image-holder">
                        <div class="slider-sticky-holder _01"><img src="~/images/Slider-Image-01.jpg" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _02"><img src="~/images/Slider-Image-02.jpg" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _03"><img src="~/images/Slider-Image-03.jpg" loading="lazy" alt="" class="feature-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="bg-wrapper">
            <img src="~/images/BG-Image_1BG-Image.webp" loading="lazy" sizes="(max-width: 1439px) 100vw, 955.0000610351562px" srcset="~/images/BG-Image_1-p-500.png 500w, images/BG-Image_1-p-800.png 800w, images/BG-Image_1BG-Image.webp 1461w" alt="" class="bg-image">
            <div class="container _4em">
                <div class="grid-6-col">
                    <div id="w-node-_9acb6e39-e985-ebce-2ef5-19ba02513fee-3409aa2d" class="title-container">
                        <div class="fade-in-move-on-scroll">
                            <h2>Access <span class="gradient-text normal-size">powerful</span> and helpful features.</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p class="paragraph-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                        </div>
                        <div class="top-margin-l">
                            <div class="fade-in-move-on-scroll">
                                <a href="#" class="button arrow w-button">Request a demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-grid-holder">
                    <div class="w-layout-grid feature-cards">
                        <div id="w-node-_80744953-1164-62c7-834a-49586763b7b6-3409aa2d" class="feature-cards-container">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Design with real native elements</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-top"></div>
                                    <div class="full-app-image-container"><img src="~/images/Feature-Grid-Image-01-1.jpg" loading="lazy" alt="" class="full-app-image"></div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_5db75681-33d3-b0fb-2e77-0a4c1ef35b70-3409aa2d" class="feature-cards-container _02">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder _02">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Real Time Data</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-bot"></div>
                                    <div class="app-gardient-top"></div>
                                    <div class="phone-container home-page">
                                        <div class="phone-image-container"><img src="~/images/Apple-iPhone-12-Pro-Silver.png" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="~/images/Apple-iPhone-12-Pro-Silver-p-500.png 500w, images/Apple-iPhone-12-Pro-Silver-p-800.png 800w, images/Apple-iPhone-12-Pro-Silver.png 1024w" alt="" class="iphone-image"></div>
                                        <div class="iphone-screen-image-container"><img src="~/images/Iphone-App-Image.jpg" loading="lazy" sizes="(max-width: 479px) 0px, 100vw" srcset="~/images/Iphone-App-Image-p-500.jpeg 500w, images/Iphone-App-Image.jpg 704w" alt="" class="iphone-screen-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid feature-cards">
                        <div id="w-node-_6eda20d0-05fc-a501-ad3d-6ae5e36c303e-3409aa2d" class="feature-cards-container _02">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder _02">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Quick overview</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-bot"></div>
                                    <div class="app-gardient-top"></div>
                                    <div class="phone-container _02">
                                        <div class="phone-image-container"><img src="~/images/Apple-iPhone-12-Pro-Silver.png" loading="lazy" sizes="(max-width: 991px) 100vw, 394.79168701171875px" srcset="~/images/Apple-iPhone-12-Pro-Silver-p-500.png 500w, images/Apple-iPhone-12-Pro-Silver-p-800.png 800w, images/Apple-iPhone-12-Pro-Silver.png 1024w" alt="" class="iphone-image"></div>
                                        <div class="iphone-screen-image-container"><img src="~/images/Iphone-App-Image.jpg" loading="lazy" sizes="(max-width: 991px) 100vw, 366.8055725097656px" srcset="~/images/Iphone-App-Image-p-500.jpeg 500w, images/Iphone-App-Image.jpg 704w" alt="" class="iphone-screen-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_6eda20d0-05fc-a501-ad3d-6ae5e36c3031-3409aa2d" class="feature-cards-container">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Don&#x27;t miss anything important</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="full-app-image-container _02"><img src="~/images/Feature-Grid-Image-02.svg" loading="lazy" alt="" class="full-app-image"></div>
                                    <div class="app-gardient-bot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Pricing" class="section">
        <div class="container">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2>Our payment plan is easy to understand</h2>
                </div>
            </div>
            <div class="payment-holder">
                <div class="tab-list-in-pricing-page">
                    <a href="/category/monthly" class="tab-link w-inline-block">
                        <div class="tab-text">Monthly</div>
                    </a>
                    <a href="/category/annually" class="tab-link tab-link-active w-inline-block">
                        <div class="tab-text">Annually</div>
                    </a>
                </div>
                <div class="price-tab-grid">
                    <div id="w-node-aa962a46-1b1f-caeb-53a1-e229880656b4-3409aa2d" class="w-dyn-list">
                        <div role="list" class="w-dyn-items">
                            <div role="listitem" class="w-dyn-item">
                                <div class="elements-wrapper">
                                    <div class="experience-card">
                                        <div class="gray-line-holder">
                                            <div class="pricing-box-holder">
                                                <div class="payment-tab-holder">
                                                    <div class="payment-padding">
                                                        <div class="fade-in-move-on-scroll">
                                                            <h2></h2>
                                                        </div>
                                                        <div class="fade-in-move-on-scroll">
                                                            <div class="center-text">
                                                                <div class="payment-number-holder">
                                                                    <div class="price-currency-symbol">$</div>
                                                                    <div class="payment-number-container">
                                                                        <div class="short-price-number"></div>
                                                                        <div class="w-dyn-list">
                                                                            <div role="list" class="w-dyn-items">
                                                                                <div role="listitem" class="product-details-category-cms-item w-dyn-item">
                                                                                    <div class="monthyl-and-yearly-next-to-price"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="center-paragraph">
                                                                    <p class="short-price-description-in-the-item"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="fade-in-move-on-scroll _100width">
                                                        <div class="top-margin-l _100width">
                                                            <div class="payment-button-holder">
                                                                <a href="#" class="button w-button">Start - 7 Days FREE</a>
                                                                <a href="#More" class="gradient-link w-inline-block">
                                                                    <div class="button-gradient"></div>
                                                                    <div class="button-content-holder button-holder-no-arrow">
                                                                        <div class="link-gradient-text">View Details</div>
                                                                    </div>
                                                                    <div class="white-background-button-color"></div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="light-wrapper">
                                                    <div class="light">
                                                        <div class="gradient-inside"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-dyn-empty">
                            <div>No items found.</div>
                        </div>
                    </div>
                    <div id="w-node-aa962a46-1b1f-caeb-53a1-e229880656dc-3409aa2d" class="content">
                        <div class="pricing-item-content-holder">
                            <div class="fade-in-move-on-scroll">
                                <h2 class="pricing-item-title">Try Our product for free for on month</h2>
                            </div>
                            <div class="fade-in-move-on-scroll">
                                <p class="pricing-item-summary">No credit card is required, start for free, and pick a plan later. You can cancel anytime.</p>
                            </div>
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>Cloud Storage</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Unlimited Shares</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Privat Access</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Embed Links</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Comments</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Print PDF Ready</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Export to PNG</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Cloud Infrastructure</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container _6em-bottom">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2>Connect to what you actually need</h2>
                </div>
            </div>
            <div class="connect-section-container">
                <div class="w-layout-grid connect-grid-container">
                    <div id="w-node-d008f252-532e-9d09-d9c2-0bb50db72bc3-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _01"><img src="~/images/Company-Avatar-02.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_6b36a120-b831-13db-9104-e521eb83e706-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _02"><img src="~/images/Company-Avatar-05.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_8689b8b6-e83a-0577-b4e9-43bb27f11736-3409aa2d" class="company-avatar-container bot">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _03"><img src="~/images/Company-Avatar-06.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_4f1d5286-8618-b7c4-8f9b-154d93084005-3409aa2d" class="company-avatar-container up">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _04"><img src="~/images/Company-Avatar-01.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_52b3093c-671c-ec38-a078-3b81fa20f408-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _05"><img src="~/images/Company-Avatar-07.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-e3acfc95-87cd-c92c-4015-0873834ac1d1-3409aa2d" class="company-avatar-container random">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _06"><img src="~/images/Company-Avatar-04.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-ab6fd3a9-0145-6a3e-94fc-91330bb0f431-3409aa2d" class="company-avatar-container random">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _07"><img src="~/images/Company-Avatar-03.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_2bb55183-bd7a-9bae-a4c9-ae37c11720c5-3409aa2d" class="company-avatar-container bot">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _08"><img src="~/images/Company-Avatar-08.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-_05e15299-d605-b9eb-85f8-c9e4e84a86e4-3409aa2d" class="company-avatar-container bot">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _09"><img src="~/images/Company-Avatar-15.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-a9b6046f-debb-78ae-3ea8-b3631ff554a0-3409aa2d" class="company-avatar-container up hide">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _10"><img src="~/images/Company-Avatar-18.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="w-layout-grid connect-grid-container">
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2dd-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _11"><img src="~/images/Company-Avatar-17.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2e2-3409aa2d" class="company-avatar-container bot">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _12"><img src="~/images/Company-Avatar-18.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2e7-3409aa2d" class="company-avatar-container bot">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _13"><img src="~/images/Company-Avatar-19.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2ec-3409aa2d" class="company-avatar-container up">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _14"><img src="~/images/Company-Avatar-20.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2f1-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _15"><img src="~/images/Company-Avatar-09.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2f6-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _16"><img src="~/images/Company-Avatar-10.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff2fb-3409aa2d" class="company-avatar-container random">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _17"><img src="~/images/Company-Avatar-11.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff300-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _18"><img src="~/images/Company-Avatar-12.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff305-3409aa2d" class="company-avatar-container">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _19"><img src="~/images/Company-Avatar-14.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                    <div id="w-node-bf08120b-cc2a-e2f0-94fd-84a0476ff30a-3409aa2d" class="company-avatar-container up hide">
                        <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="company-avatar-circle _20"><img src="~/images/Company-Avatar-13.svg" loading="lazy" alt="" class="company-avatar"></div>
                        <div class="grey-circle-holder">
                            <div class="gray-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>