<html data-wf-page="640dfa54ba6752483409aa2d" data-wf-site="640dfa53ba67521ab709aa29">

<body data-title="Index">
    <div class="section hero-home-section">
        <div class="container hero-home-container">
            <div data-w-id="4f479342-3728-e100-52ed-a2f9fa5f5007" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="home-hero-bg"></div>
            <div class="hero-text-holder">
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                    <h1 class="hero-text-home gradient-text">Save <span><strong class="bold-text-3">up to 90%</strong> </span>off UPS rates with our discounted shipping service</h1>
                </div>
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-2st">
                    <div class="w-layout-grid grid-8-col">
                        <div id="w-node-eaa4d78d-cf9f-49d7-87c2-ae81121dc2cc-3409aa2d" class="hero-paragraph">
                            <p class="paragraph-3">Quickly compare shipping options to get the cheapest rates!</p>
                        </div>
                    </div>
                </div>
                <div class="home-hero-buttons-holder animate-on-load-3rd">
                    <a href="@Url.ActionLink("Rates","Home")" class="gradient-link w-inline-block">
                        <div class="button-gradient"></div>
                        <div class="loginbutton">
                            <div class="logintext">Get a FREE rate quote</div>
                        </div>
                        <div class="white-background-button-color"></div>
                    </a>
                </div>
            </div>
            <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-4rd">
                <div class="container">
                    <div class="app-holder">
                        <div class="app-container">
                            <div class="app-main-photo"><img src="images/CreateLabel.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 77vw, (max-width: 1439px) 78vw, 80vw" srcset="images/CreateLabel-p-500.png 500w, images/CreateLabel-p-800.png 800w, images/CreateLabel.png 958w" alt="" class="app-photo"></div>
                            <div class="app-info-01"><img src="images/Earnings-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 150px, (max-width: 991px) 25vw, 250px" srcset="images/Earnings-Image-p-500.jpeg 500w, images/Earnings-Image-p-800.jpeg 800w, images/Earnings-Image.jpg 952w" alt="" class="_100width"></div>
                            <div class="app-info-02"><img src="images/Visitor-Insights.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 38vw, (max-width: 991px) 51vw, 506px" srcset="images/Visitor-Insights-p-500.jpeg 500w, images/Visitor-Insights-p-800.jpeg 800w, images/Visitor-Insights-p-1080.jpeg 1080w, images/Visitor-Insights.jpg 2024w" alt="" class="_100width"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="More" class="section">
        <div class="container _4em">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2 class="center-heading">THE CHEAPEST WAY TO SHIP</h2>
                </div>
                <div class="hero-paragraph">
                    <div class="fade-in-move-on-scroll">
                        <p class="paragraph-6"><strong class="bold-text-5">With labels starting at just $2.99, we are multitudes cheaper than competitors. Curious how much your label will cost? Simply enter your details to get a quote!</strong></p>
                    </div>
                </div>
            </div>
            <div class="features-container">
                <div class="w-layout-grid grid-6-col home">
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7256-3409aa2d" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Create and Order Labels</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>With our expertise you can use our automated services, and take part of our low prices to competitively operate your business online through our gray-hat practices of generating shipping labels.</p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>Create Discounted Shipping Labels</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Track Shipments</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Generate Automatically</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully Secure</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7274-3409aa2d" class="image-container"><img src="images/CreateLabelCropped.png" loading="lazy" alt="" class="feature-image"></div>
                </div>
                <div class="w-layout-grid grid-6-col home">
                    <div id="w-node-_710f2dbc-e07e-3a80-0da6-a861577734a4-3409aa2d" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Ease of Payment</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>You are able to top-up your account to purchase our services on-the-go without any hiccups using a multitude of payment methods provided by Stripe. </p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>All in one platform.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully secured.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Great user experience.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>All Responsive.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="w-node-_710f2dbc-e07e-3a80-0da6-a861577734bc-3409aa2d" class="image-container"><img src="images/stripeimg.png" loading="lazy" alt="" class="feature-image"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="Features" class="section grey-section">
        <div class="container _6em-bottom">
            <div class="sticky-slider-section">
                <div class="w-layout-grid sticky-slider-container">
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc48-3409aa2d" class="sticky-text-container">
                        <div class="sticky-text-holder">
                            <div class="fade-in-move-on-scroll">
                                <h2 class="heading-4">Get Started with just 3 Easy Steps</h2>
                            </div>
                            <div class="list-container">
                                <ul role="list" class="list-with-icons list-one-column w-list-unstyled">
                                    <li class="list-item-with-icon">
                                        <div>Select Service</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Purchase Label</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Ship Instantly!</div>
                                    </li>
                                </ul>
                            </div>
                            <div class="container-5 w-container">
                                <a href="@Url.ActionLink("Rates", "Home")" class="gradient-link w-inline-block">
                                    <div class="button-gradient"></div>
                                    <div class="loginbutton">
                                        <div class="logintext">Get Started</div>
                                    </div>
                                    <div class="white-background-button-color"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc66-3409aa2d" class="slider-image-holder">
                        <div class="slider-sticky-holder _01"><img src="images/RateGrid.png" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _02"><img src="images/Stripe.png" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _03"><img src="images/ship.svg" loading="lazy" alt="" class="feature-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>