<html data-wf-page="640dfa54ba6752483409aa2d" data-wf-site="640dfa53ba67521ab709aa29">

<body data-title="Index">
    <div class="section hero-home-section">
        <div class="container hero-home-container">
            <div data-w-id="4f479342-3728-e100-52ed-a2f9fa5f5007" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="home-hero-bg"></div>
            <div class="hero-text-holder">
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                    <h1 class="hero-text-home gradient-text">Save <span><strong class="bold-text-3">up to 90%</strong> </span>off UPS rates with our discounted shipping service</h1>
                </div>
                <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-2st">
                    <div class="w-layout-grid grid-8-col">
                        <div id="w-node-eaa4d78d-cf9f-49d7-87c2-ae81121dc2cc-3409aa2d" class="hero-paragraph">
                            <p class="paragraph-3">Quickly compare shipping options to get the cheapest rates!</p>
                        </div>
                    </div>
                </div>
                <div class="home-hero-buttons-holder animate-on-load-3rd">
                    <a href="@Url.ActionLink("Rates","Home")" class="gradient-link w-inline-block">
                        <div class="button-gradient"></div>
                        <div class="loginbutton">
                            <div class="logintext">Get a FREE rate quote</div>
                        </div>
                        <div class="white-background-button-color"></div>
                    </a>
                </div>
            </div>
            <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-4rd">
                <div class="container">
                    <div class="app-holder">
                        <div class="app-container">
                            <div class="app-main-photo"><img src="images/App-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 77vw, (max-width: 1439px) 78vw, 80vw" srcset="images/App-Image-p-500.jpeg 500w, images/App-Image-p-800.jpeg 800w, images/App-Image-p-1080.jpeg 1080w, images/App-Image-p-1600.jpeg 1600w, images/App-Image-p-2000.jpeg 2000w, images/App-Image-p-2600.jpeg 2600w, images/App-Image.jpg 3844w" alt="" class="app-photo"></div>
                            <div class="app-info-01"><img src="images/Earnings-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 991px) 150px, 250px" srcset="images/Earnings-Image-p-500.jpeg 500w, images/Earnings-Image-p-800.jpeg 800w, images/Earnings-Image.jpg 952w" alt="" class="_100width"></div>
                            <div class="app-info-02"><img src="images/Visitor-Insights.jpg" loading="lazy" sizes="(max-width: 767px) 180px, (max-width: 991px) 280px, 506px" srcset="images/Visitor-Insights-p-500.jpeg 500w, images/Visitor-Insights-p-800.jpeg 800w, images/Visitor-Insights-p-1080.jpeg 1080w, images/Visitor-Insights.jpg 2024w" alt="" class="_100width"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="More" class="section">
        <div class="container _4em">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2 class="center-heading">We can help you manage from top to bottom, all the layers.</h2>
                </div>
                <div class="hero-paragraph">
                    <div class="fade-in-move-on-scroll">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                    </div>
                </div>
            </div>
            <div class="features-container">
                <div class="w-layout-grid grid-6-col">
                    <div id="w-node-a53de2ad-cd61-0645-6ed5-ebd19b919100-9b9190ff" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Top Management, to help you see the bigger picture</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa massa id arcu blandit dignissim contum volutpat dolor fermentum, justo tempor.<br><br>Vulputate enim ante egestas commodo in.</p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>All in one platform.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully secured.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Great user experience.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>All Responsive.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="w-node-a53de2ad-cd61-0645-6ed5-ebd19b919118-9b9190ff" class="image-container"><img src="images/Feature-Image-01.svg" loading="lazy" alt="" class="feature-image"></div>
                </div>
                <div class="w-layout-grid grid-6-col">
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7274-3409aa2d" class="image-container"><img src="images/Feature-Image-02.svg" loading="lazy" alt="" class="feature-image"></div>
                    <div id="w-node-_5865c2f9-085b-8a6d-8622-8912e97a7256-3409aa2d" class="content">
                        <div class="fade-in-move-on-scroll">
                            <h2>Micromanage every data so there are no slip-ups</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa massa id arcu blandit dignissim contum volutpat dolor fermentum, justo tempor.<br><br>Vulputate enim ante egestas commodo in.</p>
                        </div>
                        <div class="list-container">
                            <ul role="list" class="list-with-icons w-list-unstyled">
                                <li class="list-item-with-icon">
                                    <div>All in one platform.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Fully secured.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>Great user experience.</div>
                                </li>
                                <li class="list-item-with-icon">
                                    <div>All Responsive.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Features" class="section grey-section">
        <div class="container _6em-bottom">
            <div class="center-text">
                <div class="fade-in-move-on-scroll">
                    <h2>All in one platform, from mobile to desktop everything you need is here</h2>
                </div>
                <div class="hero-paragraph">
                    <div class="fade-in-move-on-scroll">
                        <p class="paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                    </div>
                </div>
            </div>
            <div class="sticky-slider-section">
                <div class="w-layout-grid sticky-slider-container">
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc48-3409aa2d" class="sticky-text-container">
                        <div class="sticky-text-holder">
                            <div class="fade-in-move-on-scroll">
                                <h2>Handcrafted  to Manage all your data</h2>
                            </div>
                            <div class="fade-in-move-on-scroll">
                                <p>Get the data directly on your phone, scroll and swipe away to get informed and updated</p>
                            </div>
                            <div class="list-container">
                                <ul role="list" class="list-with-icons list-one-column w-list-unstyled">
                                    <li class="list-item-with-icon">
                                        <div>Easy to use and understand</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Accessible from anywhere</div>
                                    </li>
                                    <li class="list-item-with-icon">
                                        <div>Auto sync between devices with the latest data</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_82187d72-78de-76a1-d56b-c9a74902fc66-3409aa2d" class="slider-image-holder">
                        <div class="slider-sticky-holder _01"><img src="images/Slider-Image-01.jpg" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _02"><img src="images/Slider-Image-02.jpg" loading="lazy" alt="" class="feature-image"></div>
                        <div class="slider-sticky-holder _03"><img src="images/Slider-Image-03.jpg" loading="lazy" alt="" class="feature-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="bg-wrapper">
            <img src="images/BG-Image_1BG-Image.webp" loading="lazy" sizes="(max-width: 1439px) 100vw, 955px" srcset="images/BG-Image_1-p-500.png 500w, images/BG-Image_1-p-800.png 800w, images/BG-Image_1BG-Image.webp 1461w" alt="" class="bg-image">
            <div class="container _4em">
                <div class="grid-6-col">
                    <div id="w-node-_9acb6e39-e985-ebce-2ef5-19ba02513fee-3409aa2d" class="title-container">
                        <div class="fade-in-move-on-scroll">
                            <h2>Access <span class="gradient-text normal-size">powerful</span> and helpful features.</h2>
                        </div>
                        <div class="fade-in-move-on-scroll">
                            <p class="paragraph-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. At etiam tellus aliquet risus, odio vitae cras viverra elementum.</p>
                        </div>
                        <div class="top-margin-l">
                            <div class="fade-in-move-on-scroll">
                                <a href="#" class="button arrow w-button">Request a demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-grid-holder">
                    <div class="w-layout-grid feature-cards">
                        <div id="w-node-_80744953-1164-62c7-834a-49586763b7b6-3409aa2d" class="feature-cards-container">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Design with real native elements</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-top"></div>
                                    <div class="full-app-image-container"><img src="images/Feature-Grid-Image-01-1.jpg" loading="lazy" alt="" class="full-app-image"></div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_5db75681-33d3-b0fb-2e77-0a4c1ef35b70-3409aa2d" class="feature-cards-container _02">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder _02">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Real Time Data</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-bot"></div>
                                    <div class="app-gardient-top"></div>
                                    <div class="phone-container home-page">
                                        <div class="phone-image-container"><img src="images/Apple-iPhone-12-Pro-Silver.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 70vw, (max-width: 991px) 67vw, 282px" srcset="images/Apple-iPhone-12-Pro-Silver-p-500.png 500w, images/Apple-iPhone-12-Pro-Silver-p-800.png 800w, images/Apple-iPhone-12-Pro-Silver.png 1024w" alt="" class="iphone-image"></div>
                                        <div class="iphone-screen-image-container"><img src="images/Iphone-App-Image.jpg" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 66vw, (max-width: 991px) 64vw, 254px" srcset="images/Iphone-App-Image-p-500.jpeg 500w, images/Iphone-App-Image.jpg 704w" alt="" class="iphone-screen-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid feature-cards">
                        <div id="w-node-_6eda20d0-05fc-a501-ad3d-6ae5e36c303e-3409aa2d" class="feature-cards-container _02">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder _02">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Quick overview</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                    <div class="app-gardient-bot"></div>
                                    <div class="app-gardient-top"></div>
                                    <div class="phone-container _02">
                                        <div class="phone-image-container"><img src="images/Apple-iPhone-12-Pro-Silver.png" loading="lazy" sizes="(max-width: 991px) 100vw, 394.796875px" srcset="images/Apple-iPhone-12-Pro-Silver-p-500.png 500w, images/Apple-iPhone-12-Pro-Silver-p-800.png 800w, images/Apple-iPhone-12-Pro-Silver.png 1024w" alt="" class="iphone-image"></div>
                                        <div class="iphone-screen-image-container"><img src="images/Iphone-App-Image.jpg" loading="lazy" sizes="(max-width: 991px) 100vw, 366.796875px" srcset="images/Iphone-App-Image-p-500.jpeg 500w, images/Iphone-App-Image.jpg 704w" alt="" class="iphone-screen-image"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_6eda20d0-05fc-a501-ad3d-6ae5e36c3031-3409aa2d" class="feature-cards-container">
                            <div class="feature-card-paddings">
                                <div class="feature-card-big-app-holder">
                                    <div class="relative">
                                        <div class="fade-in-move-on-scroll">
                                            <h4 class="no-margins">Don&#x27;t miss anything important</h4>
                                        </div>
                                        <div class="fade-in-move-on-scroll">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        </div>
                                    </div>
                                    <div class="full-app-image-container _02"><img src="images/Feature-Grid-Image-02.svg" loading="lazy" alt="" class="full-app-image"></div>
                                    <div class="app-gardient-bot"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>