<html data-wf-page="640dfa54ba6752663409aa6b" data-wf-site="640dfa53ba67521ab709aa29">
<body data-title="Rates">
    <div class="section rates">
        <div class="container rates">
            <div class="top-margin-xxl">
                <div class="center-text">
                    <div class="hero-text-holder">
                        <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                            <div class="hero-text"><span class="gradient-text">Begin shipping in seconds!</span></div>
                        </div>
                        <div class="w-layout-grid grid-8-col">
                            <div id="w-node-_1ee2bbf4-d768-b6d6-77c4-0c26a6fc854f-3409aa6b" data-w-id="1ee2bbf4-d768-b6d6-77c4-0c26a6fc854f" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-paragraph">
                                <p class="hero-description">100% FREE | NO FEES OR HIDDEN COSTS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div data-w-id="1121d2d6-605f-5031-30d6-c09946328b62" style="opacity:0;-webkit-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 25px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="w-layout-grid grid-2-col">
                        <div style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-1st">
                            <div id="w-node-_1121d2d6-605f-5031-30d6-c09946328b64-3409aa6b" class="contact-details-sticky">
                                <div class="text-block-11"><strong class="bold-text">Savings of up to 90% off USPS® &amp; UPS® rates with our discounted shipping service</strong><br><br>Unlock incredible shipping savings with Thunder Ship - no fees, no commitments. Enjoy instant access to exclusive pre-negotiated discounts of up to 90% off standard rates for UPS and USPS shipping, with no hidden costs or volume requirements. Start saving today!<br>‍<br>‍<strong class="bold-text-4">See how much you could save 👉</strong></div>
                            </div>
                        </div>
                        <div id="w-node-_1121d2d6-605f-5031-30d6-c09946328b70-3409aa6b" style="-webkit-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(0.95, 0.95, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="animate-on-load-2st">
                            <div class="createlabelholder custom45">
                                <div class="createlabelformblock custom w-form">
                                    <form data-bind="submit: sendRequest" id="Contact-Form" name="wf-form-Message" data-name="Message" method="get">
                                        <div data-bind="with: requestForm">
                                        <div class="columns-15 w-row">
                                            <div class="column-12 w-col w-col-6"><label for="ZipFrom-2" class="field-label custom">From</label><input type="text" class="input-field w-input" maxlength="256" name="ZipFrom-2" data-name="Zip From 2" placeholder="Zipcode (USA only)" id="ZipFrom-2" required="" data-bind="value: FromZip"></div>
                                            <div class="column-13 w-col w-col-6"><label for="ZipFrom-3" class="field-label custom">To</label><input type="text" class="input-field w-input" maxlength="256" name="toZip-2" data-name="To Zip 2" placeholder="Zipcode (USA only)" id="toZip-2" required="" data-bind="value: ToZip"></div>
                                        </div>
                                        <div class="columns-5 w-row">
                                            <div class="w-col w-col-6">
                                                <label for="ZipFrom-2">Dimensions (Inches)</label>
                                                <div class="w-row">
                                                    <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="length-2" id="Length" placeholder="Length" required="" data-bind="textInput: Length, event: { input: $parent.checkValues }"></div>
                                                    <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="width-2" id="Width" placeholder="Width" required="" data-bind="textInput: Width, event: { input: $parent.checkValues }"></div>
                                                    <div class="w-col w-col-4"><input type="text" class="input-field w-input" maxlength="256" name="height-2" id="Height" placeholder="Height" required="" data-bind="textInput: Height, event: { input: $parent.checkValues }"></div>
                                                    <p data-bind="text: zeroValueMessage"></p>
                                                    <p data-bind="visible: $parent.isOverLimit">The sum of Length plus (Width x 2) + (Height x 2) is over 165".</p>
                                                </div>
                                            </div>
                                            <div class="w-col w-col-6">
                                                <label for="toZip-2">Weight</label>
                                                <div class="w-row">
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" id="Pounds" placeholder="Pounds" required="" data-bind="textInput: Pounds, event:{ input: isOverweight }"></div>
                                                    <div class="w-col w-col-6"><input type="text" class="input-field w-input" maxlength="256" id="Ounces" placeholder="Ounces" data-bind="textInput: Ounces, event:{ input: isOverweight }"></div>
                                                    <div id="weightError"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="send-button-wrapper">
                                            <div class="send-button-holder2">
                                                <div class="fake-submit-button-holder static">
                                                    <input type="submit" value="Get Rates" data-wait="..." data-w-id="610e854f-b69b-a42c-d4f0-3b5c7a901994" class="submit-button3 submit-button-with-text3 pagetransition w-button">
                                                    <div class="button-gradient"></div>
                                                    <div class="white-background-button-color"></div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rateContainer" data-w-id="278c217a-45ad-84c2-901d-d8e07c84dc99" class="container _4em fade-in-move-on-scroll custom5">
            <div class="container _4em fade-in-move-on-scroll">
                <div class="quick-access">
                    <div class="quick-access-grid rates" data-bind="foreach: rates">
                        <div id="w-node-c3925a4d-cc19-2d6a-c04f-d71759e14d82-3409aa6b" class="quick-access-card-holder-2 less-padding fade-in-move-on-scroll">
                            <div data-w-id="01a8a4ee-fd72-f55e-962b-84703066577b" class="quick-access-card spacing custom4">
                                <div class="columns w-row">
                                    <div class="column-3 w-col w-col-1 w-col-tiny-tiny-stack"><img src="~/images/UPS.svg" loading="lazy" id="companyImg" alt="" class="image w-node-_01a8a4ee-fd72-f55e-962b-84703066577e-3409aa6b"></div>
                                    <div class="column-4 w-col w-col-11 w-col-tiny-tiny-stack">
                                        <div id="serviceType" class="text-block" data-bind="text: service"></div>
                                    </div>
                                </div>
                                <div class="columns-2 w-row">
                                    <div class="column-5 w-col w-col-2" data-bind="visible: isCheapest">
                                        <div id="isCheapest" class="text-block-3">CHEAPEST</div>
                                    </div>
                                    <div class="column-6 w-col w-col-10">
                                        <div id="rateSlogan" class="text-block-4">Instant Access, Deep Discounts</div>
                                    </div>
                                </div>
                                <div id="estimatedDelivery" class="text-block-5" data-bind="text: estimatedDelivery"></div>
                                <div id="hasInsurance" class="text-block-6">Free Tracking • $100 insurance included</div>
                                <div class="columns-3 w-row">
                                    <div class="column-10 w-col w-col-6">
                                        <div id="percentSaved" class="text-block-7">Save 50%</div>
                                        <div id="retailPrice" class="text-block-9" data-bind="text: upsPrice"></div>
                                    </div>
                                    <div class="column-7 w-col w-col-6">
                                        <div id="ourPrice" class="text-block-10" data-bind="text: ourPriceString"></div>
                                    </div>
                                </div>
                                <div class="columns-4 w-row">
                                    <div class="column-11 w-col w-col-6"></div>
                                    <div class="column-8 w-col w-col-6">
                                        <a href="@Url.ActionLink("Dashboard","Home")" aria-current="page" class="gradient-link ratecard w-inline-block w--current">
                                            <div class="button-gradient ratecard"></div>
                                            <div class="loginbutton ratecard">
                                                <div class="logintext ratecard">Create Label</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</body>
</html>